
.record-div {
    border: black;
    border-style: solid;
    /* margin-left: -5px;
    margin-right: 5px; */
}

.fa { 
    margin-top: 7px;
    font-size:36px;
}
.co-data { margin: 15px;}