#main-div {background:pink;}
.div-head {
    margin-left: 2%;
    margin-right: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#head {  background: #f8a9f8; }
.div-ele {
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: outset;
    margin-top: -9px;
}
#body {  background: #EFE8EF; }
.bg-l { width: 70px; margin-left: 6% }
.bg-r { margin-right: 10%}
.mr {padding: 5px;}
