#main-div {background:pink;}
.div-head {
    margin-left: 2%;
    margin-right: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#head { background: violet; position: sticky; top:130px }

.div-ele {
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: outset;
    margin-top: -9px;
}
#body {  background: #EFE8EF; }
.bg-l {  margin-left: 6% }
.bg-r { margin-right: 10%}
.mr {padding: 5px;
     border-style: ridge;
     border-style: double;
     border-radius: 25px;
    }
.active { 
    background-color: wheat;
    font-style: italic;
    font-weight: bolder;
    color: blue;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color:brown;
}
